body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sudoku-grid table {
  border-collapse: collapse;
}

#sudoku-grid td {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

#sudoku-grid input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

#sudoku-grid td {
  border: 1px solid #333;
}

/* Bordures pour les sous-grilles 3x3 */
#sudoku-grid tr:nth-child(3n) td {
  border-bottom: 2px solid #333;
}

#sudoku-grid tr:nth-child(3n + 1) td {
  border-top: 2px solid #333;
}

#sudoku-grid td:nth-child(3n) {
  border-right: 2px solid #333;
}

#sudoku-grid td:nth-child(3n + 1) {
  border-left: 2px solid #333;
}

/* Pour différencier les chiffres ajoutés par le joueur */
input[readonly] {
  color: #000000;
  background-color: #f0f0f0;
}

input:not([readonly]) {
  color: #486aca;
}
